$primary: #9306f1;
$secondary: #e4e4e4;
$danger: #ff5100;
$warning: #ffc400;
$success: #1fbd00;
$info: #00ccff;
$hoverback-ground: #deacff;
$text-color: #3c2f44;

$primary-font: white;
$success-font: white;
